:root {
  /* Primary Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Font Families */
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;

  /* Font Weights */
  --weight-barlow-semibold: 600;
  --weight-fraunces-bold: 700;
  --weight-fraunces-extrabold: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

body {
  background-color: var(--white);
  color: var(--very-dark-desaturated-blue);
  overflow-x: hidden;
  font-family: var(--font-barlow);
  font-size: clamp(0.875rem, 0.8147rem + 0.3448vw, 1.125rem);
  font-weight: var(--weight-barlow-semibold);
  position: relative;
}

body.over-hide {
  overflow: hidden;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-block: 1.2rem;
  z-index: 99;
  transition: 0.3s;
}

header.scroll {
  background-color: var(--dark-moderate-cyan);
}

.header-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 100%;
  max-width: 140px;
}

.btn-hamburger {
  width: 30px;
  height: 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-wrapper {
  width: 100%;
  height: 27px;
  position: relative;
  transition: 0.3s;
}

.btn-hamburger.active .hamburger-wrapper {
  transform: rotate(180deg);
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--white);
  border-radius: 6px;
  display: block;
  position: absolute;
  transition: 0.3s;
}

.line:nth-child(1) {
  top: 0px;
}

.line:nth-child(2) {
  top: 10px;
}

.line:nth-child(3) {
  top: 20px;
}

.btn-hamburger.active .line:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
}

.btn-hamburger.active .line:nth-child(2) {
  top: 12px;
  transform: scaleX(0);
}

.btn-hamburger.active .line:nth-child(3) {
  top: 12px;
  transform: rotate(-45deg);
}

.header-nav {
  width: 90%;
  max-width: 1120px;
  position: absolute;
  top: 0;
  z-index: -1;
  pointer-events: none;
}

.header-nav.open {
  pointer-events: auto;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  opacity: 0;
  pointer-events: none;
}

.header-nav.open .header-overlay {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.nav-list {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  height: max-content;
  position: relative;
  top: 4rem;
  background-color: var(--white);
  transform: scale(0);
  transform-origin: top right;
  transition: 0.3s;
  padding-block: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.header-nav.open .nav-list {
  top: 6rem;
  transform: scale(1);
}

.nav-list::before {
  content: "";
  width: 24px;
  height: 32px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: var(--white);
  position: absolute;
  bottom: 96%;
  right: 0;
}

.nav-list a {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  color: var(--dark-grayish-blue);
}

.nav-list li:last-child a {
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-bold);
  text-transform: uppercase;
  border-radius: 100px;
}

.hero-section {
  background: url("images/mobile/image-header.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: clamp(25rem, -1.25rem + 150vw, 34.375rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  width: 90%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-container::after {
  content: url("images/icon-arrow-down.svg");
  display: block;
}

.hero-container h1 {
  font-size: clamp(2rem, -0.8rem + 16vw, 3rem);
  color: var(--white);
  letter-spacing: 6px;
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-bold);
  text-transform: uppercase;
  text-align: center;
}

.feature img {
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.feature-content {
  width: 90%;
  margin: auto;
  padding-block: clamp(2rem, -0.8rem + 16vw, 3rem);
  text-align: center;
}

.feature-content h2 {
  font-size: 2rem;
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-extrabold);
  padding-inline: 1rem;
}

.feature-content p {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  margin-block: 1rem;
}

.feature-content a {
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-extrabold);
  letter-spacing: 1px;
  position: relative;
  z-index: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.feature-content a::after {
  content: "";
  width: 110%;
  height: 5px;
  display: block;
  margin-top: -7px;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}

.feature:nth-child(1) a::after {
  background-color: hsla(51, 100%, 49%, 0.3);
}

.feature:nth-child(1) a:hover:after {
  background-color: hsla(51, 100%, 49%, 1);
}

.feature:nth-child(2) a::after {
  background-color: hsl(7, 99%, 70%, 0.3);
}

.feature:nth-child(2) a:hover:after {
  background-color: hsl(7, 99%, 70%, 1);
}

.service {
  height: clamp(25rem, -1.25rem + 150vw, 34.375rem);
  display: flex;
  justify-content: end;
}

.service:nth-child(1) {
  background: url("images/mobile/image-graphic-design.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}

.service:nth-child(2) {
  background: url("images/mobile/image-photography.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}

.service-content {
  width: 90%;
  max-width: 400px;
  height: max-content;
  margin: auto auto clamp(3rem, 0.2rem + 16vw, 4rem);
  text-align: center;
}

.service-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-bold);
}

.service-content p {
  line-height: 1.5rem;
}

.section-container {
  width: 90%;
  max-width: 1120px;
  margin: 3rem auto 0;
  text-align: center;
}

.section-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: var(--font-fraunces);
  font-size: 1rem;
  color: var(--dark-grayish-blue);
}

.testimonial-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.testimonial-card img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial-card p {
  line-height: 1.5rem;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-info h3 {
  font-family: var(--font-fraunces);
  font-weight: var(--weight-fraunces-extrabold);
}

.testimonial-info p {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
}

.gallery-section {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gallery-section picture {
  width: 50%;
}

.gallery-section picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-footer {
  background-color: var(--dark-moderate-cyan);
}

.footer-container {
  width: 90%;
  max-width: 1120px;
  margin: auto;
  padding-block: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-logo svg {
  width: 140px;
}

.footer-nav {
  width: 100%;
  max-width: 300px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list a {
  padding: 4px 8px;
  transition: 0.3s;
}

.footer-nav-list a:hover {
  color: var(--white);
}

.social-links {
  margin-top: 4rem;
  display: flex;
  align-items: start;
  gap: 2rem;
}

.social-links a:hover {
  color: var(--white);
}

.social-links a svg {
  width: 24px;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .btn-hamburger {
    display: none;
  }

  .header-nav {
    width: 100%;
    max-width: max-content;
    position: unset;
    pointer-events: all;
    z-index: 0;
  }

  .header-overlay {
    position: unset;
    display: none;
  }

  .nav-list {
    max-width: max-content;
    margin-left: unset;
    position: unset;
    transform: unset;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
  }

  .nav-list::before {
    content: none;
  }

  .nav-list a {
    font-size: 0.875rem;
    color: var(--white);
    padding: 0.7rem 1.4rem;
    transition: 0.3s;
  }

  .nav-list li:last-child a {
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
  }

  .nav-list li:last-child a:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    color: var(--white);
  }

  .hero-section {
    background: url("images/desktop/image-header.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: max-content;
    padding-block: 10rem;
  }

  .features-section,
  .services-section,
  .testimonials-section,
  .gallery-section {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature:nth-child(1) picture {
    order: 1;
  }

  .feature picture img {
    width: 100%;
    max-height: 100%;
    max-width: 1440px;
  }

  .feature-content {
    max-width: 450px;
    text-align: left;
  }

  .feature-content h2 {
    padding-inline: 0;
  }

  .services-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service:nth-child(1) {
    background: url("images/desktop/image-graphic-design.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .service:nth-child(2) {
    background: url("images/desktop/image-photography.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .section-container {
    margin: 8rem auto 0;
  }

  .section-title {
    font-size: 1.1rem;
  }

  .testimonial-list {
    flex-direction: row;
  }

  .testimonial-card {
    gap: 3rem;
  }

  .gallery-section {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-section picture {
    width: 100%;
  }
}
